---
import CallToAction from '../components/Sections/CallToAction.astro'
import Careers from '../components/Sections/Careers.astro'
import FeaturedStudent from '../components/Sections/FeaturedStudent.astro'
import Hero from '../components/Sections/Hero.astro'
import SocialMediaContent from '../components/Sections/SocialMediaContent.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout>
    <main class="overflow-x-clip">
        <Hero />
        <div class="grid grid-cols-2 md:grid-cols-3">
            <div
                class="text-4xl bg-white py-14 md:py-20 lg:py-40 flex flex-col items-center justify-center md:text-5xl lg:text-7xl text-center font-medium">
                15,000+ <span
                    class="text-base block font-normal md:text-lg lg:text-2xl mt-2"
                    >students</span
                >
            </div>
            <div
                class="text-4xl bg-sky-400 border-4 lg:border-8 border-sky-200 py-14 md:py-20 lg:py-40 flex flex-col items-center justify-center md:text-5xl lg:text-7xl text-center font-medium text-secondary-950">
                3.57 <span
                    class="text-base block font-normal md:text-lg lg:text-2xl mt-2"
                    >average GPA</span
                >
            </div>

            <div
                class="text-4xl col-span-2 md:col-span-1 bg-uma-green-400 border-4 lg:border-8 border-uma-green-200 py-14 md:py-20 lg:py-40 flex flex-col items-center justify-center md:text-5xl lg:text-7xl text-center font-medium">
                $65,458 <span
                    class="text-base block font-normal md:text-lg lg:text-2xl mt-2"
                    >median salary</span
                >
            </div>
        </div>
        <div class="bg-sky-950 pt-1.5">
            <div class="h-0.5 w-full bg-sky-400 lg:h-1"></div>
            <div class="mt-1.5 h-0.5 w-full bg-uma-green-400 lg:h-1"></div>
        </div>
        <SocialMediaContent />
        <Careers />
        <FeaturedStudent />
        <CallToAction />
    </main>
</Layout>
